.facebook-btn{
    border-color: #3b5998;
    background-color: transparent;
    color: #3b5998;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.btn-block {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-right: 0 !important;
    margin-bottom: 12px;
    margin-left: 0 !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.btn-sm {
    height: 36px;
    padding: 0 18px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 34px;
}
.btn {
    display: inline-block;
    position: relative;
    height: 44px;
    margin-top: 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    padding: 0 22px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .4s;
    border: 1px solid transparent;
    border-radius: 22px;
    background-color: transparent;
    background-image: none;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .07em;
    line-height: 42px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

